@model Todo.Web.Models.TodoEntryViewModel

@{
    ViewData["Title"] = "Modify Entry";
}

<h1>Modify Entry</h1>

<p>
    <a class="bi bi-arrow-left" href="@Url.Action("ViewEntry", new { id = Model.Id })"> Back</a>
</p>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ModifyEntry">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" hidden />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalNotes" class="control-label"></label>
                <textarea asp-for="AdditionalNotes" class="form-control"></textarea>
                <span asp-validation-for="AdditionalNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Label" class="control-label"></label>
                <select asp-for="Label" class="form-select" asp-items="Html.GetEnumSelectList<Label>()">
                </select>
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reminder" class="control-label"></label>
                <input asp-for="Reminder" class="form-control" />
                <span asp-validation-for="Reminder" class="text-danger"></span>
            </div>
            <input asp-for="CreationDate" hidden />
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-select" asp-items="Html.GetEnumSelectList<Status>()">
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <input asp-for="TodoListId" hidden /><br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}